* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************** tag ********************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 77px;
    padding-bottom: 30px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
    padding-bottom: 20px;
}
h4, h5 {
    font-size: 16px;
}

img {
    width: 100%;
}

ul{
    list-style: none;
}

header {
    background-color: #B4D0E7;
    margin-top: 65px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: white;
    z-index: 99;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: 35px;
    vertical-align: middle;
    padding: 0 20px;
}

nav li a:hover {
    text-decoration: underline;
}

nav .float_left li:first-of-type a {
    padding-left: 0;
}

nav li a img {
    height: 30px;
    vertical-align: middle;
}

.blue_btn {
    background-color: #0061FF;
    color: white;
}

main {
   margin-top: 100px; 
}

footer {
    background-color: black;
    color: white;
}

footer section {
    width: 20%;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

footer ul li a:hover {
    text-decoration: underline;
}

/**************************** class ******************************/

/* layout */

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

.container_large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}

.col_3_9 {
    width: calc(100% / 9 * 3);
}

/* utilities */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.small_text {
    font-size: 14px;
}

.blue_btn:hover {
    text-decoration: none;
    background-color: #67a0fc;
}

.white_btn:hover {
    background-color: rgb(240, 239, 239);
}

.blue_link:hover {
    text-decoration: none;
}

/* header */

.hero_section {
    position: relative;
    top: 70px;
}

.hero_section_p {
    width: 30%;
    padding-right: 50px;
}

.hero_section_img {
    width: 70%;
    padding: 0 30px;
}

.hero_section a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    line-height: 35px;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 10px;  
}

.fa-arrow-down {
    font-size: 45px;
    margin-top: 50px;
    animation: arrow_down 1s linear alternate-reverse infinite;
}

@keyframes arrow_down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

/* main */

/* 1st section */

.form_container {
    padding-top: 50px;
    padding-bottom: 20px;
}

.form_container label {
    padding-right: 10px;
}

input[type=radio] {
    margin-right: 5px;
    transform: scale(1.5)
}

/* 2nd section */

.row {
    padding: 10px 15px;
}

.row_align {
    margin-left: -15px;
    margin-right: -15px;
}

.business_plan_container, .enterprise_plan_container {
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.business_plan_type, .enterprise_plan_type {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 8px 0;
}

.business_plan_description {
    padding: 30px 20px;
}

.business_plan_description {
    min-height: 1000px;
}

.business_plan_description h5 {
    padding-bottom: 15px;
}

.payment_description {
    padding-bottom: 40px;
    color: #637381;
}

.business_plan_description ul {
    padding-bottom: 20px;
}

.business_plan_description ul li{
    padding-bottom: 25px;
    padding-left: 20px;
}

.business_plan_description ul li .fas, .far{
    margin-left: -20px;
}

.try_for_free_btn, .contact_sales_office_btn {
    display: inline-block;
    text-align: center;
    background-color: #0061FF;
    line-height: 35px;
    color: white;
    text-decoration: none;
}

.try_for_free_btn {
    width: 100%;
    margin-bottom: 30px;
}

.buy_now_link {
    color: #0061FF;
}

.business_plan_description_hr {
    width: 20%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.fa-check {
    color: #0061FF;
}

/* 3rd section */

.enterprise_plan_description {
    position: relative;
    padding: 30px 20px;
}

.enterprise_plan_description p {
    padding-top: 30px;
}

.contact_sales_office_btn {
    padding: 0 50px;
    position: absolute;
    top: 30px;
    right: 20px;
}

/* 4th section */

.dropbox_partner_img {
    width: 60%;
}

.dropbox_partner_description {
    width: 40%;
    padding-top: 30px;
    padding-left: 30px;
}

.dropbox_partner_description p {
    margin-bottom: 30px;
}

.find_partner_btn {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border: 1px solid black;
}

.find_partner_btn:hover {
    border: 2px solid black;
}

.partner.container {
    margin-top: 70px;
    margin-bottom: 90px;
}

/* 5th section */

.features.row {
    margin-top: 50px;
}

.features.container {
    margin-bottom: 100px;
}

/* 6th section */

.more_info.container {
    margin-bottom: 50px;
}

.more_info.container h2 {
    width: 60%;
    margin-bottom: 30px;
}

.more_info.container a {
    color: #0061FF;
}

/* 7th section */

.banner {
    width: 100%;
}

.squares_container {
    width: 28.5%;
    height: 28vw;
}

.img_container {
    width: 50%;
    height: 14vw;
    text-align: center;
    line-height: 14vw;
}

.img_container img{
    width: 50%;
    vertical-align: middle;
}

.green {
    background-color: #A2D39B;
}
.bordeaux {
    background-color: #61082B;
}
.cyan {
    background-color: #0093CE;
}
.red {
    background-color: #FF1C1C;
}
.darkred {
    background-color: #D5001F;
}
.lightblue {
    background-color: #B4D0E7;
}
.blue {
    background-color: #0D2481;
}
.yellow {
    background-color: #FFD830;
}

.central_rectangle {
    width: 43%;
    height: 28vw;
    background-color: #F5F5F5;
    padding: 50px;
    overflow: auto;
}

.central_rectangle img {
    width: 25%;
    margin-bottom: 30px;
}

.central_rectangle hr {
    width: 10%;
    margin-bottom: 50px;
    border-color: #E4E4E6;
}

.central_rectangle_description {
    margin-bottom: 35px;
}

/* 8th section */

.section_8th {
    padding: 90px 0;
}

.section_8th h3 {
    width: 40%;
    color: #61082B;
}

.section_8th a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 50px;
}

/* 9th section */

.faqs {
    padding: 90px 0;
}

.faqs h3 {
    padding-bottom: 50px;
    border-bottom: 1px solid #d1cfcf;
}

.faqs h5 {
    padding-right: 60px;
    position: relative;
}

.faqs li {
    padding: 30px 0;
    border-bottom: 1px solid #d1cfcf;
}

.fa-chevron-down {
    position: absolute;
    right: 30px;
    transition: 0.3s;
}

.faqs p {
    padding-right: 60px;
    padding-top: 20px;
    display: none;
}

.faqs li:focus p {
    display: block;
}

.faqs li:focus .fa-chevron-down {
    transform: rotate(180deg);
}

/* footer */

.footer_link_container {
    padding: 90px 0;
}

.lang_container {
    width: 10%;
    padding: 50px 0;
    border-top: 1px solid white;
    color: gray;
}

