* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************** tag ********************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 77px;
    padding-bottom: 30px;
}
h2 {
    font-size: 40px;
    padding-left: 15px;
}
h3 {
    font-size: 25px;
    padding-bottom: 20px;
}
h4, h5 {
    font-size: 16px;
    padding-bottom: 15px;
}

ul{
    list-style: none;
}

header {
    background-color: #B4D0E7;
    margin-top: 65px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: white;
    z-index: 99;
}
nav li {
    display: inline-block;
}
nav li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: 35px;
    vertical-align: middle;
    padding: 0 20px;
}
nav .float_left li:first-of-type a {
    padding-left: 0;
}
nav li a img {
    height: 30px;
    vertical-align: middle;
}
nav .float_right li:last-of-type a {
    background-color: #0061FF;
    color: white;
}

main {
   margin-top: 100px; 
}

footer {
    
}

/**************************** id  ********************************/

/**************************** class ******************************/

/* layout */

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

.container_large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}

.col_1_9 {
    width: calc(100% / 9);
}

.col_2_9 {
    width: calc(100% / 9 * 2);
}

.col_3_9 {
    width: calc(100% / 9 * 3);
}

.col_4_9 {
    width: calc(100% / 9 * 4);
}

.col_5_9 {
    width: calc(100% / 9 * 5);
}

.col_6_9 {
    width: calc(100% / 9 * 6);
}

/* utilities */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.small_text {
    font-size: 14px;
}

/* header */

.hero_section {
    position: relative;
    top: 70px;
}

.hero_section_p {
    width: 30%;
    padding-right: 50px;
}

.hero_section_img {
    width: 70%;
    padding: 0 30px;
}

.hero_section_img img {
    width: 100%;
}

.hero_section a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    line-height: 35px;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 10px;  
}

.fa-arrow-down {
    font-size: 45px;
    margin-top: 50px;
}

/* main */

/* first section */

.form_container {
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.form_container label {
    padding-right: 10px;
}

/* second section */

.business_plan_row {
    padding: 10px 15px;
}

.business_plan_container {
    border: 1px solid lightgray;
}

.business_plan_type {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 8px 0;
}

.business_plan_description {
    padding: 30px 20px;
    height: 1000px;

}

.payment_description {
    padding-bottom: 40px;
    color: #637381;
}

.business_plan_description ul {
    padding-bottom: 40px;
}

.business_plan_description ul li{
    line-height: 40px;
}

.try_for_free_btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #0061FF;
    line-height: 35px;
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
}

.buy_now_link {
    color: #0061FF;
}

.business_plan_description_hr {
    width: 20%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.fa-check {
    color: #0061FF;
}


